/* global */
:root {
  --clr-primary: #f0f0f0;
  --clr-primary-accent: #d8d8d8;
  --clr-secondary: #666666;
  --clr-accent: #666999;
  --ff-primary: "Rubik", sans-serif;
  --ff-title: "Bebas Neue", cursive;
  --text-primary: black;
}

html {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  background-color: var(--clr-primary);
  font-size: 1.125rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.page-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: inherit;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--clr-secondary);
}

.project-text-container a,
.about-section-container a {
  color: var(--clr-accent);
  text-decoration: underline;
}

nav a:hover,
.account-links a:hover,
.project-links-container a:hover,
#contact-me:hover,
.about-section-container a:hover,
.logo:hover {
  display: inline-block;
  transform: scale(1.125);
}

/* navigation - text component */
.logo {
  width: clamp(2rem, 4.6vw + 1.1rem, 3rem);
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.header-nav {
  padding: 1rem 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  padding: 0.5em;
}

.header-nav a {
  font-size: clamp(1.2rem, 3.66vw + 0.44rem, 2rem);
  text-transform: uppercase;
  font-weight: 1000;
  color: var(--clr-secondary);
}

.header-nav li {
  flex: 1;
  text-align: center;
}

/* intro - text component */
.intro h1 {
  font-size: clamp(4rem, 13.1vw + 1.3rem, 10rem);
  text-align: center;
  font-family: var(--ff-title);
  margin: 0;
}

.intro p,
#job-title {
  text-align: center;
  font-size: clamp(1rem, 0.4vw + 0.9rem, 1.2rem);
  margin: 0.5em 0.5em 0.5em 0;
  color: var(--clr-secondary);
  padding-left: 0;
}

#job-title {
  color: var(--clr-accent);
  font-weight: 1000;
  text-transform: uppercase;
  font-size: clamp(1.9rem, 2.4vw + 1.1rem, 3rem);
  margin: 0;
  /* font-size: 1.9rem; */
}

/* info  - text/graphical component*/
#portrait {
  width: 35vw;
  border-radius: 50%;
  border: 0.15rem var(--clr-accent) solid;
}

article #portrait {
  border-radius: 0;
  border: none;
}

.account-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1em 0;
}

.info p {
  margin: 1.1em;
  text-align: center;
  font-size: clamp(0.8rem, 0.7vw + 0.71rem, 1rem);
  color: var(--clr-secondary);
}

.info p:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.portrait-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.account-links img {
  width: clamp(2rem, 1.5vw + 1.8rem, 2.5rem);
}

/* footer */
footer {
  margin-bottom: 0;
  margin-top: auto;
  color: var(--clr-secondary);
}

footer p {
  text-align: center;
  font-size: clamp(0.6rem, 0.5vw + 0.53rem, 0.75rem);
}

/* blogs - text/graphical component*/
.header-nav a.active {
  color: var(--clr-accent);
  text-decoration: underline;
}
/* change this */
.blog-link-container {
  /* position: relative; */
  border-radius: 0.2rem;
  overflow: hidden;
  color: var(--clr-secondary);
  background-color: var(--clr-primary-accent);
  margin: 1.5em;
  display: flex;
  flex-direction: column;
}

.blog-text-container {
  margin-bottom: 0;
  margin-top: auto;
}

.blog-link-container:hover {
  transform: scale(1.06);
}

.blog-link-container img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.big-title {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(2rem, 6.87vw + 0.6rem, 3.5rem);
  margin: 0.2em 0;
}

.small-text {
  font-size: clamp(0.8rem, 0.48vw + 0.8rem, 1rem);
  padding: 0 0.5rem;
  color: var(--clr-secondary);
  margin: 0;
}

p:last-of-type {
  padding-bottom: 0.5rem;
}

a.small-text {
  display: block;
  margin-bottom: 0.3rem;
}

h2 {
  font-size: clamp(1.5rem, 2.3vw + 1rem, 2rem);
  padding: 0 0.5rem;
  margin-top: 0.5em;
  text-transform: uppercase;
}

.blog-link-container .small-text {
  width: fit-content;
}

/* blog posts  - text/graphical component*/
.blogs-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  background-color: var(--clr-primary-accent);
}

.blog-container img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.blogs-container .big-title {
  color: var(--clr-secondary);
}

.section-container .blog-subheading {
  font-size: clamp(1.2rem, 2.75vw + 0.63rem, 1.8rem);
  padding: 0.2em 0.5rem 0;
  margin: 0;
  text-transform: none;
}

p.small-text + .blog-subheading {
  margin-top: 0.5em;
}

.header-container .small-text {
  font-weight: 1000;
  padding-bottom: 0;
}

.blogs-container img {
  width: 100%;
}

/* about - text component*/
.about-container {
  display: flex;
  flex-direction: column;
  margin: 0 1.5em 1.5em;
}

.about-container h2 {
  margin-bottom: 0.5rem;
}

.about-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* projects - text/graphical component*/
.projects-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.project-container {
  border-radius: 0.2rem;
  overflow: hidden;
  color: var(--clr-secondary);
  background-color: var(--clr-primary-accent);
  margin: 0 1.5rem;

  display: flex;
  flex-direction: column;
}

.project-container img {
  width: 100%;
}

.tech-group {
  display: flex;
  margin-bottom: 0.2rem;
}

.tech-group img {
  width: clamp(2rem, 1.5vw + 1.8rem, 2.5rem);
}

.project-container h2 {
  margin: 0.2rem 0;
}

.project-links-container {
  display: flex;
  justify-content: space-between;
}

.project-links-container a {
  color: var(--clr-accent);
  font-weight: 1000;
}

#contact-me {
  color: var(--clr-accent);
  border: 0.125em var(--clr-accent) solid;
  margin-top: 0.8em;
  padding: 0.2em 0.3em;
  font-size: clamp(0.8rem, 0.48vw + 0.8rem, 1rem);
}

.about-section-container .small-text + .small-text,
.section-container .small-text + .small-text {
  margin-top: 0.5rem;
}

/* tablet media query*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* blogs */
  .blog-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .big-title {
    width: 100%;
  }

  .blog-container .big-title {
    width: 100vw;
  }

  #trending {
    width: 75vw;
  }

  .blog-link-container {
    width: 40vw;
  }

  /* blog post */
  .blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 55vw; */
    margin: 1rem 15vw;
  }

  /* about me */
  .about-container {
    width: 65%;
  }

  .about-main-container {
    display: flex;
    justify-content: center;
  }

  /* projects */
  .projects-container {
    width: 75vw;
  }

  .projects-main-container {
    display: flex;
    justify-content: center;
  }

  .projects-main-container .project-container {
    margin: 0;
  }
}

/* desktop media query */
@media screen and (min-width: 1200px) {
  /* homepage */
  .main-index {
    padding-top: 5vw;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    padding: 0;
  }

  nav ul {
    gap: 5rem;
  }

  .info {
    order: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    padding: 2rem;
    justify-content: center;
  }

  .intro {
    order: 3;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
    padding: 2rem;
    justify-content: center;
  }

  .intro-info-container {
    display: flex;
    flex: 1;
  }

  footer {
    order: 4;
  }

  #portrait {
    width: 14rem;
  }

  .divider {
    margin: auto 0;
    order: 2;
    height: 60vh;
    width: 0.1rem;
    background-color: var(--clr-secondary);
  }

  .intro p {
    text-align: left;
  }

  .intro h1 {
    text-align: left;
    letter-spacing: 1rem;
    line-height: 10rem;
    padding-top: 1.2rem;
  }

  .info p {
    margin-right: 0;
  }

  #job-title {
    letter-spacing: 1rem;
  }

  /* blogs */
  .blog-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header-container .big-title {
    width: 100%;
    order: 1;
    text-align: left;
    padding: 0 0.5em;
  }

  #trending {
    width: 30vw;
  }

  .blog-link-container {
    width: 20vw;
  }

  /* blog post */
  .blog-container .big-title {
    width: 100vw;
  }

  .main-container {
    display: flex;
    justify-content: center;
  }

  .header-container,
  .section-container {
    display: flex;
  }

  .header-container {
    flex: 3;
  }

  .section-container {
    flex: 2;
  }

  .blogs-container {
    flex-direction: row;
    gap: 1rem;
    width: max(900px, 60%);
  }

  .header-container header {
    display: flex;
    flex-direction: column;
  }

  .header-container img {
    order: 3;
  }

  .header-container .small-text {
    order: 2;
    align-self: flex-end;
    padding-right: 0;
  }

  /* about */
  .about-main-container {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
  }

  main .about-container {
    width: 60%;
    flex-direction: row;
    gap: 1rem;
  }

  .about-container .about-header-container {
    flex: 2;
    justify-content: flex-start;
  }

  .about-section-container {
    flex: 3;
  }

  .about-header-container .big-title {
    width: fit-content;
    align-self: flex-end;
  }

  .about-header-container #portrait {
    align-self: flex-end;
  }

  #contact-me {
    align-self: flex-end;
  }

  /* projects */
  .projects-main-container .projects-container {
    flex-direction: row;
    margin-top: 7vw;
  }

  .project-container {
    flex: 1;
  }

  .project-container .project-links-container {
    margin-bottom: 0;
    margin-top: auto;
    justify-content: flex-end;
  }

  .project-links-container a.top {
    display: none;
  }
}
