/* global */
:root {
  --clr-primary: #f0f0f0;
  --clr-secondary: #666666;
  --clr-accent: #666999;
  --ff-primary: "Rubik", sans-serif;
  --ff-title: "Bebas Neue", cursive;
  --text-primary: black;
  --fs-fluid: clamp();
}

html {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  background-color: var(--clr-primary);
  font-size: 1.125rem;
}

body {
  margin: 0;
  height: 100vh;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: inherit;
}

* {
  box-sizing: border-box;
}

/* navigation */
.logo {
  width: clamp(2rem, 3.5vw + 0.8rem, 2.5rem);
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.header-nav {
  padding: 1rem 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.header-nav a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: clamp(1.2rem, 0.65vw + 1.06rem, 1.5rem);
  text-transform: uppercase;
  font-weight: 1000;
}

.header-nav li {
  /* border: 1px black solid; */
  flex: 1;
  text-align: center;
}

.header-nav li + li {
  /* border-left: 0.1rem var(--text-primary) solid; */
}

/* intro */
.intro h1 {
  font-size: clamp(4.5rem, 14vw + 1.5rem, 10rem);
  text-align: center;
  font-family: var(--ff-title);
  margin: 0;
  /* padding-top: 2rem; */
  /* letter-spacing: 0.5rem; */
}

.intro p {
  text-align: center;
  font-size: clamp(1rem, 0.4vw + 0.9rem, 1.2rem);
  margin: 0.5em;
}

span {
  color: var(--clr-accent);
  font-weight: 1000;
  text-transform: uppercase;
  font-size: clamp(2rem, 3.1vw + 1.55rem, 3rem);
}

/* info */
#portrait {
  width: 35vw;
  border-radius: 50%;
  border: 0.15rem var(--clr-accent) solid;
}

.account-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1em 0;
}

.info p {
  margin: 1.1em;
  text-align: center;
  font-size: clamp(0.8rem, 0.7vw + 0.71rem, 1rem);
}

.info p:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.portrait-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.account-links img {
  width: clamp(2rem, 1.5vw + 1.8rem, 2.5rem);
}


/* footer */
footer {
  margin-bottom: 0;
  margin-top: auto;
}

footer p {
  text-align: center;
  font-size: clamp(0.6rem, 0.5vw + 0.53rem, 0.75rem);
}

@media screen and (min-width: 1200px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    padding: 0;
  }

  nav ul {
    gap: 5rem;
  }

  .info {
    order: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    padding: 2rem;
    justify-content: center;
  }

  .intro {
    order: 3;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
    padding: 2rem;
    justify-content: center;
  }

  .intro-info-container {
    display: flex;
    flex: 1;
  }

  footer {
    order: 4;
  }

  #portrait {
    width: 14rem;
  }

  .divider {
    margin: auto 0;
    order: 2;
    height: 60vh;
    width: 0.1rem;
    background-color: black;
  }

  .intro p {
    text-align: left;
    
  }

  .intro h1 {
    text-align: left;
    letter-spacing: 1rem;
    line-height: 10rem;
    padding-top: 1.2rem;
  }

  .info p {
    margin-right: 0;
    
  }

  span {
    /* font-size: 3rem; */
    letter-spacing: 1rem;
  }

  footer p {
    /* font-size: 0.75rem; */
  }
}
